<div class="show-container">
  <div class="show-container-top">
    <div class="show-pictures">
      <%= image_tag @room.image_url%>
    </div>

    <div class="booking">
      <div class="room-name">
          Chambre n°<%= @room.number%>
      </div>
      <div class="room-price mt-5">
        <%= @room.price_per_night %>€ par nuit
      </div>
        <div class="booking-form" data-controller="flatpickr">
          <%= simple_form_for [@room, @booking] do |f| %>
            <%= f.input :start_date, as: :string, label: "Dates de réservation", input_html: { data: { flatpickr_target: "startDate" } }, id: 'start_date'%>
            <div class="d-none">
              <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" } }, id: 'end_date', disabled: true%>
            </div>
            <%= f.button :submit, "Reserver", class: "custom-button", input_html: { data: { flatpickr_action: "click->flatpickr#addToBookedDates" } } %>
          <% end %>
        </div>
    </div>
  </div>

  <div class="show-container-bottom mt-4 border-bottom border-top pt-3 pb-3">
      <div class="description">
        <h2>Description :</h2>
        <p style="font-size: 25px;"><%= @room.description %></p>
      </div>
  </div>

  <div class="show-reviews">
    <% @room.reviews.each do |review| %>
      <%= review.rating %>
      <%= review.comment %>
    <%end%>
  </div>

</div>
